.scrollTextContainer {
  position: relative;
}

.scrollTextMask {
  position: relative;
  display: inline;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    var(--color-on-surface),
    var(--color-on-surface)
  );
  background-size: 0% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1);

  @media (prefers-color-scheme: dark) {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
  }
}
