.horizon {
  --position: -25vw, 50vh;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  @media (min-width: 1280px) and (orientation: landscape) {
    display: flex;
  }

  .sun,
  .aurora {
    position: absolute;
    bottom: 0;
    transform: translate(var(--position));
    transform: translate(var(--transformX, --transformY));
    transform-origin: center;
  }

  .sun {
    width: 120vh;
    height: 120vh;
    background-color: var(--color-surface);
    border-radius: 50%;
    backdrop-filter: blur(40px);
  }

  .aurora {
    bottom: -10vh;
    width: 140vh;
    height: 140vh;
    background: var(--gradient-aurora);
    filter: blur(20px);
  }
}

.horizon2 {
  --position: 30vw, 70vh;
  z-index: -2;
}
