:root {
  --color-brand: #f03933;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-opaque-white: rgba(240, 230, 217, 0.3);
  --color-text-opaque-black: rgba(0, 0, 0, 0.2);

  --color-primary: var(--color-brand);
  --color-on-primary: var(--color-white);

  --color-surface: var(--color-white);
  --color-surface-container: #e5e5e5;
  --color-on-surface: #2a0807;
  --color-on-surface-opaque: var(--color-text-opaque-black);

  --color-blinker: #4bc893;
  --color-blinker-rgb: 75, 200, 147;

  --curve-primary: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #1a1a1b;
    --color-surface-container: #363638;
    --color-on-surface: rgb(240, 230, 217);
    --color-on-surface-opaque: var(--color-text-opaque-white);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  position: relative;
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-variation-settings: 'wght' 300;
  letter-spacing: 0.25px;
}

p,
li {
  font-size: 20px;
  line-height: 1.75;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-variation-settings: 'wght' 600;
}

.text-muted {
  color: #aaaaaa;
}

button,
.button {
  appearance: none;
  padding: 12px 20px;
  border: 1px solid var(--color-on-surface);
  border-radius: 40px;
  background: none;
  color: var(--color-on-surface);
  font-size: 16px;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1);
  transition-duration: 300ms;
}

button:hover,
.button:hover {
  background-color: var(--color-on-surface);
  color: var(--color-surface);
}
