.sectionHero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 100px);
  justify-content: flex-end;
  padding-bottom: 40px;
  overflow: hidden;

  @media (min-width: 1024px) {
    min-height: calc(100vh - 160px);
    padding-bottom: 70px;
  }
}

.sectionHero :global(.row) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;

  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.heroTitle {
  line-height: 0.75;
  font-size: 280px;
  font-size: clamp(80px, 13.5vw, 100px);
  font-variation-settings: 'wght' 600;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    font-size: clamp(140px, 13.5vw, 320px);
  }
}

.heroTitle span {
  display: inline-block;
  transition-property: font-variation-settings;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1);
  transition-duration: 600ms;
  will-change: font-variation-settings;
}

.heroTitle span:nth-child(2) {
  font-variation-settings: 'wght' 300;
}

.heroTitle i {
  margin-right: 12px;
}

.heroDescription {
  max-width: 420px;

  @media (min-width: 1280px) {
    text-align: right;
  }
}

.horizon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  @media (orientation: landscape) {
    display: flex;
  }

  .aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: var(--gradient-aurora);
    filter: blur(20px);
  }

  .sun {
    width: 125vh;
    height: 125vh;
    background-color: var(--color-surface);
    border-radius: 50%;
    backdrop-filter: blur(40px);
    transform: translateY(50vh);
  }
}
