.main {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  position: relative;
  font-size: 20px;
  gap: 40px;
  padding-bottom: 40px;

  @media (min-width: 1024px) {
    gap: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: 1280px) {
    max-width: calc(100% - 25vw);
    margin-left: auto;
  }
}

.section .container {
  gap: 40px;
}

.section .row {
  flex-wrap: wrap;
}

.section .column {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    flex: 1 1;
  }
}

.borderSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid currentColor;
}

.section .title {
  font-size: 20px;
  text-transform: uppercase;
}

.section ul {
  list-style: none;
}

.showreel video {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--color-surface-container);
}

.work .container {
  gap: 0;
}

.work .title {
  margin-bottom: 20px;
}
