.TextAnimateMask {
  position: relative;
  display: inline;

  @supports (background-clip: text) {
    background-clip: text;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      var(--color-on-surface),
      var(--color-on-surface)
    );
    background-size: var(--scroll-progress) 100%;
    -webkit-text-fill-color: var(--color-on-surface-opaque);
  }
}
