.header {
  display: none;
  opacity: 0;
  animation: headerReveal 1s 1s var(--curve-primary) forwards;

  @media (min-width: 768px) {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    transform: translate(0, -20%);
  }
}

@keyframes headerReveal {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.row {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.brand {
  padding: 10px 0;
  font-size: 40px;
  line-height: normal;
  font-variation-settings: 'wght' 400;
  white-space: nowrap;
}

.brand strong {
  color: var(--color-brand);
  font-variation-settings: 'wght' 700;
}
